.panda-bg-info{
    background-color:#FCEAE8;
}
.panda-btn{
    background-color: #FF408B;
}
.panda-y{
    background-color:#FFC107;
}
.panda-g{
    background-color: #198754;
}
.panda-v{
    background-color: #0D6EFD;
}
.panda-p{
    background-color: #FF4D94;
}